
.login-form-width {
    width: 100%; /* Default width for small screens */
}

.signup-form-width {
    width: 100%; /* Default width for small screens */
}

@media(max-width: 576px) {
    html {
        font-size: 80%;
    }

    .custom-card {
        width: 100%;
    }
}

@media (min-width: 576px) { /* sm breakpoint */
    html {
        font-size: 80%; /* Reduces the default font size from 16px to ~14.4px */
    }

    .custom-card {
        width: 65%;
    }

    .login-form-width {
        width: 80%; /* Width for small screens and up */
    }

    .signup-form-width {
        width: 90%;
    }
}

@media (min-width: 768px) { /* md breakpoint */
    html {
        font-size: 80%; /* Reduces the default font size from 16px to ~14.4px */
    }

    .custom-card {
        width: 50%;
    }

    .login-form-width {
        width: 50%; /* Width for medium screens and up */
    }
    .signup-form-width {
        width: 60%;
    }
}

@media (min-width: 992px) { /* lg breakpoint */
    html {
        font-size: 100%; /* Reduces the default font size from 16px to ~14.4px */
    }
    .login-form-width {
        width: 35%; /* Width for large screens and up */
    }
    .signup-form-width {
        width: 45%;
    }
}

@media (min-width: 1200px) { /* xlg breakpoint */
    .login-form-width {
        width: 20%; /* Width for large screens and up */
    }
    .signup-form-width {
        width: 30%;
    }
}